doctype html
html(lang='pt-br')

	include _partials/head

	body

		header

			include _partials/navbar
		
		main(role='main')

			include _partials/carousel

			include _partials/marketing_block
		
		include _partials/footer

		include _partials/scripts