doctype html
html(lang='pt-br')

	include _partials/head

	body(style="margin-top: 110px;")

		header

			include _partials/navbar
		
		main(role='main')

			.container.py-5

				h1.text-uppercase.py-3.py-sm-4 loc festa

				p Fundada em 1988 a Loc Festa é uma empresa de locação de materiais e móveis para festas/eventos. Destacando-se entre as primeiras grandes empresas do ramo.

				p Contando com um grande portfólio de produtos dos mais tradicionais até os lançamentos e em grandes quantidades.

				p Equipe com experiência para orientá-lo na escolha ideal visando o melhor resultado para sua festa/evento.

				p Nosso grande diferencial é o atendimento e a  parceria com nossos clientes/amigos de longa data.

				p Faça parte da nossa história.

				p.text-uppercase 
					b Fabio Costa - Loc Festa
		
		include _partials/footer

		include _partials/scripts