head
    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content= description)
    meta(name='author', content='thierry rene matos')
    
    title= title

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css')
    link(href='backend/views/public/css/style.css', rel='stylesheet')