.container.marketing

    .row

        .col-lg-4
            img(src="http://www.locfesta.com.br/new/wp-content/uploads/2017/03/07-700x438.jpg", alt="", class="img-fluid")
            h2 Heading
            p
                | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
            p
                a.btn.btn-secondary(href='#', role='button') View details »                    

        .col-lg-4
            svg.bd-placeholder-img.rounded-circle(width='140', height='140', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 140x140')
                title Placeholder
                rect(width='100%', height='100%', fill='#777')
                text(x='50%', y='50%', fill='#777', dy='.3em') 140x140
            h2 Heading
            p
                | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
            p
                a.btn.btn-secondary(href='#', role='button') View details »

        .col-lg-4
            svg.bd-placeholder-img.rounded-circle(width='140', height='140', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 140x140')
                title Placeholder
                rect(width='100%', height='100%', fill='#777')
                text(x='50%', y='50%', fill='#777', dy='.3em') 140x140
            h2 Heading
            p
                | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            p
                a.btn.btn-secondary(href='#', role='button') View details »                    

        hr.featurette-divider

        .row.featurette
            .col-md-7
                h2.featurette-heading
                    | First featurette heading. 
                    span.text-muted It’ll blow your mind.
                p.lead
                    | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            .col-md-5
                svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500', height='500', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 500x500')
                    title Placeholder
                    rect(width='100%', height='100%', fill='#eee')
                    text(x='50%', y='50%', fill='#aaa', dy='.3em') 500x500

        hr.featurette-divider

        .row.featurette
            .col-md-7.order-md-2
                h2.featurette-heading
                    | Oh yeah, it’s that good. 
                    span.text-muted See for yourself.
                p.lead
                    | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            .col-md-5.order-md-1
                svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500', height='500', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 500x500')
                    title Placeholder
                    rect(width='100%', height='100%', fill='#eee')
                    text(x='50%', y='50%', fill='#aaa', dy='.3em') 500x500

        hr.featurette-divider

        .row.featurette
            .col-md-7
                h2.featurette-heading
                    | And lastly, this one. 
                    span.text-muted Checkmate.
                p.lead
                    | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            .col-md-5
                svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500', height='500', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 500x500')
                    title Placeholder
                    rect(width='100%', height='100%', fill='#eee')
                    text(x='50%', y='50%', fill='#aaa', dy='.3em') 500x500

        hr.featurette-divider