@import "includes/base";

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    
}

.swiper-container {
    width: 100%;
    height: 350px;
    margin-top: 110px;
}

button.navbar-toggler {
    margin: 20px;
}

body {
    
    a {
        color: #56202C !important;
        font-weight: bolder;
    }
    
}
